/*
 * Art.module.scss
 * Author: Evan Kirkiles
 * Created On Fri Nov 10 2023
 * 2023 Digital Portfolio 
 */

.container {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  max-width: unset !important;
  overflow: hidden;

  & img {
    flex: 1;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: lighten;

    :global(.light-mode) & {
      mix-blend-mode: difference;
    }
  }

  & h1 {
    position: absolute;
    inset: 0.5em;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  }
}
