/*
 * Layout.module.scss
 * Author: Evan Kirkiles
 * Created On Sun Oct 01 2023
 * 2023 Digital Portfolio 
 */
@import '@/styles/utils';

.main {
  display: flex;
  grid-area: main;
  flex-direction: column;
  width: auto;
  gap: 1em;
  outline: none;

  @include media('md') {
    flex-direction: row;
  }

  & article {
    // display: flex;
    // flex-direction: column;
    max-width: var(--max-main-width);
    min-height: 100%;
    animation: fade-up 0.3s ease-in-out;
  }

  & p {
    margin-bottom: 0.5em;
  }
}

.sidebar {
  position: sticky;
  grid-area: sidebar;
  width: 100%;
  height: 100%;

  &_image {
    width: 100%;
    height: 100%;

    & *[data-mask='true'] {
      fill: theme-color('background');
    }

    & rect:hover {
      fill: white;
      cursor: pointer;
    }
  }
}
