/*
 * Layout.module.scss
 * Author: Evan Kirkiles
 * Created On Sun Oct 01 2023
 * 2023 Digital Portfolio 
 */
@import '@/styles/utils';

.main {
  display: flex;
  grid-area: main;
  flex-direction: column;
  width: auto;
  gap: 1em;
  outline: none;

  @include media('md') {
    flex-direction: row;
    flex-wrap: wrap;
  }

  & article {
    display: flex;
    flex: 2;
    flex-direction: column;
    animation: fade-up 0.3s ease-in-out;

    @include media('lg') {
      min-width: 500px;
      max-width: var(--max-main-width);
    }

    @include media('xl') {
      min-width: var(--max-main-width);
    }
  }

  & p {
    margin-bottom: 0.5em;
  }
}

.sidebar {
  z-index: 0;
  grid-area: sidebar;
  flex: 1;
  min-width: min(300px, 100%);

  @include media('md') {
    position: sticky;
    top: calc(var(--header-height) + 0.5em);
    max-height: calc(100dvh - var(--header-height) - var(--footer-height) - 2em);
  }

  &_image {
    width: 100%;
    height: 100%;

    & *[data-mask='true'] {
      fill: theme-color('background');
      pointer-events: none;
    }

    & polygon {
      transition: fill 0.1s ease-in-out;
    }

    & a:hover polygon,
    & a:focus-visible polygon {
      fill: theme-color('background2');
      cursor: pointer;
    }
  }
}
