/*
 * Footer.module.scss
 * Author: Evan Kirkiles
 * Created On Sun Oct 01 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

.container {
  display: flex;
  grid-area: footer;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: var(--page-padding);
  padding-top: 0;
  padding-bottom: calc(var(--page-padding) * 0.5);
  background-color: theme-color('background');

  & hr {
    width: 100%;
    margin-bottom: 1em;
  }

  & a {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: -0.2em;
    padding: 0 0.2em;
  }

  & svg {
    display: inline-block;
    width: 2em;
    height: 2em;

    & path {
      fill: currentColor;
    }
  }

  & ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 0.5em;

    & a {
      margin-left: -0.2em;
      padding: 0 0.2em;
      text-underline-offset: 0.15em;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  & li {
    margin: 0;
  }

  & p {
    display: block;
    flex-shrink: 0;
    max-width: 100%;
  }
}
