/*
 * SkipLink.module.scss
 * Author: evan kirkiles
 * Created On Mon Aug 28 2023
 * 2023 Design at Yale 
 */

@import '@/styles/utils';

.content_skip {
  display: block;
  z-index: zIndex('high') + 10;
  position: fixed;
  top: var(--page-padding);
  left: 50%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transform: translateX(-50%);
  background-color: theme-color('background');

  &:not(:focus) {
    position: absolute;
    top: 0;
    left: -99999px;
    pointer-events: none;
  }
}
