/*
 * Header.module.scss
 * Author: Evan Kirkiles
 * Created On Sun Oct 01 2023
 * 2023 Design at Yale 
 */
@import '@/styles/utils';

.container {
  position: sticky;
  top: 0;
  grid-area: header;
  width: calc(100vw - 2 * var(--page-padding));
  // max-width: var(--max-main-width);
  margin: 0 auto;
  padding-top: var(--page-padding);

  & p {
    width: min-content;
    height: 5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    float: left;
    // font-weight: 700;
    font-size: 2.6em;
    line-height: 1;
    // border: 1px solid black;
    // background-color: theme-color('content');
  }

  & hr {
    grid-area: hr;
    margin-top: 1em;
  }

  // & ul {
  //   display: flex;
  //   flex-direction: row;
  //   gap: 0.8em;
  // }

  & li {
    margin: 0;
  }
}

.container2 {
  position: sticky;
  top: 0;
  grid-area: header;
  width: calc(100vw - 2 * var(--page-padding));
  margin: 0 auto;
  padding-top: var(--page-padding);
  background-color: theme-color('background');

  & p {
    margin-bottom: 0.25em;
    font-weight: 700;
    font-size: 1.3em;
  }

  & ul {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    &:has(a[aria-current='page']) a {
      opacity: 0.3;
    }

    & a {
      margin-left: -0.2em;
      padding: 0 0.2em;
      text-underline-offset: 0.15em;
      transition: opacity 0.2s ease-in-out;

      &[aria-current='page'] {
        // text-decoration: underline;
        opacity: 1 !important;
        pointer-events: none;
      }
    }
  }

  & li {
    margin: 0;
  }
}
