/*
 * Header.module.scss
 * Author: Evan Kirkiles
 * Created On Sun Oct 01 2023
 * 2023 Digital Portfolio 
 */
@import '@/styles/utils';

.container {
  z-index: zIndex('high');
  position: sticky;
  top: 0;
  grid-area: header;
  width: 100%;
  height: var(--header-height);
  padding: var(--page-padding) 0;
  padding-bottom: 0;
  background-color: theme-color('background');

  &::after {
    position: absolute;
    height: 0.5em;
    inset: 0;
    top: 100%;
    bottom: unset;
    background: linear-gradient(theme-color('background'), transparent);
    content: '';
  }

  & hr {
    margin-bottom: 0;
  }

  & p {
    margin-bottom: 0.25em;
    font-weight: 700;
    font-size: 1.3em;
  }

  & ul {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    &:has(a[aria-current='page']) a {
      opacity: 0.3;
    }

    & a {
      margin-left: -0.2em;
      padding: 0 0.2em;
      text-underline-offset: 0.15em;

      &[aria-current='page'] {
        // text-decoration: underline;
        opacity: 1 !important;
        pointer-events: none;
      }
    }
  }

  & li {
    margin: 0;
  }
}
