/*
 * globals.scss
 * Author: evan kirkiles
 * Created On Sun Aug 27 2023
 * 2023 Digital Portfolio 
 *
 * There are several useful variables defined at the :root level, feel free to
 * modify or remove as necessary for your own use cases.
 */

@import '@/styles/utils';
@import '@/styles/globals';

:root {
  // a color to indicate selected / focused elements
  --highlight-color: #{theme-color('red')};

  // header-height for calculating sticky offsets
  --header-height: 4rem;
  @include media('xxs') {
    --header-height: 5rem;
  }
  @include media('sm') {
    --header-height: 6rem;
  }
  @include media('md') {
    --header-height: 0rem;
  }

  // a standard padding to use across the page
  --page-padding: 1rem;
  @include media('md') {
    --page-padding: 1.5rem;
  }

  // a maximum width to use for main page content
  --max-main-width: 68ch;
}

/* -------------------------------------------------------------------------- */
/*                                   Globals                                  */
/* -------------------------------------------------------------------------- */

html,
body {
  width: 100%;
  background-color: theme-color('background');
  color: theme-color('content');
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  column-gap: var(--page-padding);
  row-gap: 0.5em;
  grid-template:
    'header' auto
    'main' 1fr
    'sidebar' auto
    'footer' auto / 1fr;
  width: 100%;
  min-height: 100svh;
  padding: 0 var(--page-padding);

  @include media('md') {
    grid-template:
      'header header' auto
      'main sidebar' 1fr
      'footer footer' auto / max-content 1fr;
  }

  // &::after {
  //   position: fixed;
  //   inset: var(--header-height) var(--page-padding);
  //   background: linear-gradient(
  //       to top left,
  //       transparent 0%,
  //       transparent calc(50% - 0.8px),
  //       theme-color('content') 50%,
  //       transparent calc(50% + 0.8px),
  //       transparent 100%
  //     ),
  //     linear-gradient(
  //       to top right,
  //       transparent 0%,
  //       transparent calc(50% - 0.8px),
  //       theme-color('content') 50%,
  //       transparent calc(50% + 0.8px),
  //       transparent 100%
  //     );
  //   content: '';
  //   // opacity: 0.2;
  //   pointer-events: none;
  // }
}

p,
li {
  margin-bottom: 0.5em;
  line-height: 1.3;
}

::selection {
  background-color: var(--highlight-color);
  color: theme-color('content');
}

:focus-visible {
  outline: 3px double var(--highlight-color);
}

a {
  &:hover {
    color: theme-color('content2');
  }
}
