/*
 * PageBuilder.module.scss
 * Author: Evan Kirkiles
 * Created On Thu Nov 09 2023
 * 2023 Digital Portfolio 
 */

.columns {
  display: flex;
  column-gap: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &[data-columns-equal] > * {
    flex: 1;
  }
}

.spacer {
  flex: 1;
  min-height: 1.5em;
}

.hide_on_small {
  @media screen and (max-height: 768px) {
    display: none;
  }
}
