/*
 * Software.module.scss
 * Author: evan kirkiles
 * Created On Wed Nov 08 2023
 * 2023 Digital Portfolio 
 */
@import '@/styles/utils';

.article {
  max-width: unset !important;

  @include media('md') {
    max-width: var(--max-main-width);
  }
}

@keyframes fade-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
  width: 100%;

  @include media('md') {
    grid-template-columns: repeat(auto-fit, minmax(min(40ch, 100%), 1fr));
  }

  @include media('xl') {
    grid-template-columns: repeat(auto-fit, minmax(min(52ch, 100%), 1fr));
  }

  @include media('xxl') {
    grid-template-columns: repeat(auto-fit, minmax(min(60ch, 100%), 1fr));
  }
  & > * {
    animation: fade-up 0.3s ease-in-out;
    animation-delay: 4 * 100ms;
    animation-fill-mode: backwards;

    @for $i from 0 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 100ms;
      }
    }
  }

  & li {
    width: 100%;
    margin: 0;

    & img {
      width: 100%;
      margin-bottom: -3%;
    }

    & small {
      padding: 0 1em;
      font-size: 0.75em;
    }
  }

  & a {
    display: block;
    position: relative;
    opacity: 1;

    @media (hover: hover) {
      &:hover {
        // color: theme-color('content');
        opacity: 0.6;
      }
    }

    &::before {
      position: absolute;
      inset: 5% 3% 2em 3%;
      // border: 1px solid theme-color('border');
      background-color: theme-color('background2');
      content: '';
      opacity: 0.5;
    }
  }

  & a img {
    mix-blend-mode: lighten;

    :global(.light-mode) & {
      mix-blend-mode: difference;
    }
  }
}
